@page
@model PwnedPasswordModel

@{
    ViewData["Title"] = "Password Compromised";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">
        Your password has been compromised @Model.Count times.
        It is recommended that you change your password immediately.
        <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword" title="Manage">Update Password</a>

        @if (!string.IsNullOrEmpty(Model.ReturnUrl) || !string.IsNullOrWhiteSpace(Model.ReturnUrl))
        {
            <span>Or proceed forward --></span><a href="@Model.ReturnUrl">Here</a>
        }

    </p>
</header>
